

body {
    background-color: antiquewhite;
    margin-left: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px; 
    line-height: 150%;


}

header { 
    border: 2px solid grey; 
    width: 100vw;
    height: 94px;
    background-color: white; 
    position: fixed; 
    top: 0; 
    font-size: 15px; 
    left: 0; 

}

h1 {
    color: #efeee7;
    background-color:#4aaaa5;
    margin: 0 0 0 150px; 
    text-align: left;
    padding: 20px;
    padding: 20px;
    width: 280px;
}